@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  overscroll-behavior: none;
}

body {
  background: transparent;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

canvas {
  display: block;
}
/* .safe-bottom {
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
}

.safe-top {
  padding-top: max(1rem, env(safe-area-inset-top));
} */
